<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="tweModelPath" value="C:\Data\twe\"/>
    <add key="kcrModelPath" value="C:\Data\kcr\"/>
    <add key="reportPath" value="C:\Data\"/>
    <add key="reportFileName" value="HorizonDataIntegrityReport.txt"/>
  </appSettings>
</configuration>
