<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="tweModelPath" value="D:\Data\twe\"/>
    <add key="kcrModelPath" value="D:\Data\kcr\"/>
    <add key="reportPath" value="D:\Data\"/>
    <add key="reportFileName" value="HorizonDataIntegrityReport.txt"/>
  </appSettings>
</configuration>